# Variables used by example jobs
FAKE_PASSWORD=secret123

# Variables used by framework
HOSTNAME=localhost
LOG_LEVEL=INFO

TIO_LOG_DATE_FORMAT=iso
TIO_LOG_JSON=false
TIO_LOG_JSON_ENSURE_ASCII=false
TIO_LOG_SHOW_LOCALS=false

# Delegates registry config to a file, causing all other registry env vars to be ignored
TIO_SETTING_REGISTRY_KIND=tio_kernel:FileSettingRegistry
TIO_SETTING_REGISTRY_LOCATION=tiozin.example.yaml
TIO_SETTING_REGISTRY_TIMEOUT=30
TIO_SETTING_REGISTRY_READONLY=false
TIO_SETTING_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_JOB_REGISTRY_KIND=tio_kernel:FileJobRegistry
TIO_JOB_REGISTRY_LOCATION=examples/jobs
TIO_JOB_REGISTRY_TIMEOUT=30
TIO_JOB_REGISTRY_READONLY=false
TIO_JOB_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_SECRET_REGISTRY_KIND=tio_kernel:EnvSecretRegistry
TIO_SECRET_REGISTRY_LOCATION=
TIO_SECRET_REGISTRY_TIMEOUT=30
TIO_SECRET_REGISTRY_READONLY=true
TIO_SECRET_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_SCHEMA_REGISTRY_KIND=tio_kernel:FileSchemaRegistry
TIO_SCHEMA_REGISTRY_LOCATION=examples/schemas
TIO_SCHEMA_REGISTRY_TIMEOUT=30
TIO_SCHEMA_REGISTRY_READONLY=false
TIO_SCHEMA_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_LINEAGE_REGISTRY_KIND=tio_kernel:NoOpLineageRegistry
TIO_LINEAGE_REGISTRY_LOCATION=http://localhost:5000
TIO_LINEAGE_REGISTRY_TIMEOUT=30
TIO_LINEAGE_REGISTRY_READONLY=false
TIO_LINEAGE_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_TRANSACTION_REGISTRY_KIND=tio_kernel:NoOpTransactionRegistry
TIO_TRANSACTION_REGISTRY_LOCATION=postgresql://localhost:5432/tiozin
TIO_TRANSACTION_REGISTRY_TIMEOUT=30
TIO_TRANSACTION_REGISTRY_READONLY=false
TIO_TRANSACTION_REGISTRY_CACHE=false

# Ignored: registry config is loaded from tiozin.example.yaml
TIO_METRIC_REGISTRY_KIND=tio_kernel:NoOpMetricRegistry
TIO_METRIC_REGISTRY_LOCATION=http://prometheus:9090
TIO_METRIC_REGISTRY_TIMEOUT=30
TIO_METRIC_REGISTRY_READONLY=false
TIO_METRIC_REGISTRY_CACHE=false
